{
  "openapi": "3.0.1",
  "info": {
    "title": "Simplex API",
    "description": "Simplex's API for interacting with the browser using AI.",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.simplex.sh"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/find_element": {
      "post": {
        "description": "Returns the bounding box of the element that matches the text description using only vision",
        "parameters": [
          {
            "name": "image_data",
            "in": "query",
            "description": "Base64 encoded screenshot of the webpage",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "text", 
            "in": "query",
            "description": "Natural language description of the element to find (e.g. \"login button\", \"dark mode toggle\", or even \"click dark mode\")",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bounding box response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BoundingBox"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/get_next_step": {
      "post": {
        "description": "Deduces the next step in a given high level task from the current state of the browser",
        "parameters": [
          {
            "name": "image_data",
            "in": "query",
            "description": "Base64 encoded screenshot of the webpage",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "text", 
            "in": "query",
            "description": "High level task in natural language",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Next step response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NextStep"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "BoundingBox": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "description": "The bounding box of the element: [x1, y1, x2, y2] where x1, y1 is the top left corner and x2, y2 is the bottom right corner",
            "type": "string"
          }
        }
      },
      "NextStep": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "description": "The next step in the high level task",
            "type": "string"
          }
        }
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}