{
  "openapi": "3.0.1",
  "info": {
    "title": "Simplex API",
    "description": "Simplex's API for interacting with the browser using AI.",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://u3mvtbirxf.us-east-1.awsapprunner.com"
    }
  ],
  "paths": {
    "/find_element": {
      "post": {
        "description": "Returns the bounding box of the element that matches the text description.",
        "parameters": [
          {
            "name": "element_description",
            "description": "Natural language description of the element to find (e.g. \"login button\", \"dark mode toggle\")",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "image_data",
            "description": "Screenshot of the webpage",
            "required": true,
            "schema": {
              "type": "string",
              "format": "binary"
            }
          },
          {
            "name": "api_key",

            "description": "API key for authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Plant response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Plant"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/get_next_step": {
      "post": {
        "description": "Returns the bounding box of the element that matches the text description.",
        "parameters": [
          {
            "name": "image",
            "in": "query",
            "description": "Base64 encoded screenshot of the webpage",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "text", 
            "in": "query",
            "description": "Natural language description of the element to find (e.g. \"login button\", \"dark mode toggle\")",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Plant response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Plant"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Plant": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "description": "The name of the plant",
            "type": "string"
          },
          "tag": {
            "description": "Tag to specify the type",
            "type": "string"
          }
        }
      },
      "NewPlant": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Plant"
          },
          {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "description": "Identification number of the plant",
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ]
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}